<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRAX</title>
    <%- include ./partials/_stylesheets %>
    <%- include ./partials/_scripts %>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <% include ./partials/_navbar %>
      <% for (const type in messages) { %>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
      <%- body %>

  </body>
</html>
