<div class="col-12">
  <div class="row">
    <h1>The Wall</h1>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-2">
      <img class="profile-pic" src="<%=  %>" alt="profile-image">
    </div>
    <div class="col-8">
      <form method="POST" action="/posts">
        <div>
          <label for="caption"></label>
          <input class="new-post-info" type="text" name="caption" id="caption" placeholder="Write a message..." required>
        </div>
        <div>
          <label for="videoURL"></label>
          <input class="new-post-info" type="text" name="videoURL" id="videoURL" placeholder="Insert YouTube link here..."required><button class="button post-song">Post</button>
        </div>
      </form>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <div class="row">
      <% posts = posts.reverse(); %>
      <% posts.forEach(post => { %>
      <% const videoID = youtubeParser(post.videoURL); %>
      <div class="col-2 poster-info">
        <% if (post.createdBy) { %>
          <img class="profile-pic" src="<%= post.createdBy.imageURL %>" alt="profile-image">
          <p class="profile-info"><%= post.createdBy.username %> </p>
        <% } %>
      </div>
      <div class="col-8 post-container">
        <p class="post-message"><%= post.caption %></p>
        <iframe class="wall-post-vid" src="https://www.youtube.com/embed/<%= videoID %>" frameborder="0" allowfullscreen></iframe>
        <p><a href="/posts/<%= post.id %>">View details</a></p>
        <% if(locals.isLoggedIn) { %>
        <section>
          <h4>Leave a comment</h4>
          <form method="POST" action="/posts/<%= post.id %>/comments">
            <textarea name="content" id="content" placeholder="Comment"></textarea>
            <button class="button">Leave a comment</button>
          </form>
        </section>
        <% } %>
      </div>
      <div class="col-lg-2">
      </div>
    <% }); %>
  </div>
</div>
