<h1>View singular post (edit/delete options)</h1>
<ul>
  <% const videoID = youtubeParser(post.videoURL); %>
  <p><%= post.caption %></p>
  <iframe width="400" height="260" src="https://www.youtube.com/embed/<%= videoID %>" frameborder="0" allowfullscreen></iframe>
  <% if (locals.isLoggedIn && post.belongsTo(user)) { %>
  <p><a href="/posts/<%= post.id %>/edit" class="button">Edit</a></p>
  <form method="POST" action="/posts/<%= post.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button alert">Delete</button>
  </form>
<% } %>
<% if(locals.isAuthenticated) { %>
<section>
  <h4>Leave a comment</h4>
  <form method="POST" action="/posts/<%= post.id %>/comments">
    <textarea name="content" id="content" placeholder="Comment"></textarea>
    <button class="button">Leave a comment</button>
  </form>
</section>
<% } %>
<section>
<h4>Comments</h4>
<% post.comments.forEach((comment) => { %>
  <p><small><%= comment.createdBy.username %> said:</small>
  <p><%= comment.content %></p>
  <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
    <form method="POST" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete Comment</button>
    </form>
  <% } %>
<% }) %>
</section>
</ul>
